<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="format">%-5level %d: %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="${format}" />
		</Console>
		<File name="logfile" fileName="./logs/nhl_log">
			<PatternLayout pattern="${format}" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="logfile" />
		</Root>
	</Loggers>
</Configuration>